Isn't PATCH idempotent?

According to the "Overview of (some) HTTP-Methods" table in "What are idempotent and/or safe methods?", PATCH is not idempotent. As far as I understood it should be since, repeating the same PATCH call over and over should result in the same response. Or did I miss something there?

The [Patch RFC](https://tools.ietf.org/html/rfc5789) states different:
> PATCH is neither safe nor idempotent as defined by [RFC2616], Section 9.1.

Since HOW the PATCH method works isn't explicitly specified, there are different ways this can be implemented: you are right that in most cases, it would work in an idempotent fashion (for instance, only sending the fields that needs to be updated). However, it might also be possible that it receives a diff-like structure, which couldn't be applied twice. To make sure both cases are handled properly (not only by servers, but also by caches, proxies etc), the method is not considered idempotent.